<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="interview-prep-suite" parallel="classes" thread-count="3">
    <listeners>
        <!-- Retrying logic to run atleast once  -->
        <listener class-name="com.interview.prep.utility.AnnotationTransformer" />
    </listeners>
    <test name="dsa" enabled="false">
        <classes>
            <class name="com.interview.prep.dsa.DSAProgramsTest"/>
        </classes>
    </test>

    <test name="Selenium Test">
        <classes>
            <class name="com.interview.prep.web.LoginTest"/>
            <class name="com.interview.prep.web.LocatorsTest"/>
            <class name="com.interview.prep.web.IFrameTest"/>
            <class name="com.interview.prep.web.DropDownTest"/>
            <class name="com.interview.prep.web.SlowTest"/>
        </classes>
    </test>

    <test name="api" enabled="false">
        <classes>
            <class name="com.interview.prep.api.GoRestApiTest"/>
            <class name="com.interview.prep.api.GoRestPOJOApiTest"/>
        </classes>
    </test>

</suite>
